collector {
  interface = "0.0.0.0"
  port = 8080

  streams {
    good = "good"
    bad = "bad"

    sink {
      enabled = kafka
      brokers = "localhost:9092,another.host:9092"
      retries = 10
      maxBytes = 1000000
    }

    buffer {
      byteLimit = 3145728
      recordLimit = 500
      timeLimit = 5000
    }
  }
}

